.about-hero-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: lightcoral;
  flex: 1;
  padding: 20px;
}

.about-hero-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: beige;
  flex: 1;
}

.about-hero-image-container {
  background-color: greenyellow;
  display: flex;
  flex: 1;
  min-width: 160px;
  min-height: 60%;
  max-height: 260px;
  padding: 20px 0;
  align-items: baseline;
  justify-content: end;
}

.about-hero-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 100%;

}

.about-hero-bio-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(56, 83, 15);
  flex: 2;
  min-width: 50%;
  min-height: 200px;
  padding: 20px;
  justify-content: baseline;
  gap: 20px;
}

.about-bio-name {
  margin: 0;
}

.about-bio-title-container {
  display: flex;
  flex-direction: row;
  background-color: aquamarine;
  gap: 10px;
  
}

.about-bio-title-icon {

}

.about-bio-title-text {

}

.about-hero-socials-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(84, 95, 65);
  flex: 1;
  min-width: 160px;
  min-height: 60px;
}

.about-text-section {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: lightblue;
  flex: 1;
  padding: 20px;
}

.about-skills-section {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: lightcoral;
  flex: 1;
  padding: 20px;
}

@media (max-width: 720px) {
  
}