.about-hero-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
}

.about-hero-container {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  margin: 20px;
}

.about-hero-image-container {
  display: flex;
  flex: 1;
  min-width: 120px;
  min-height: 60%;
  max-height: 260px;
  padding: 20px 0;
  align-items: baseline;
  justify-content: end;
}

.about-hero-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 100%;
}

.about-hero-bio-container {
  display: flex;
  flex-direction: column;
  flex: 2;
  min-width: 220px;
  min-height: 200px;
  padding: 20px;
  justify-content: baseline;
  gap: 20px;
}

.about-bio-name {
  margin: 0;
}

.about-bio-title-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: baseline;
}

.about-bio-title-icon {
  flex: 0 0 24px;
  flex-shrink: 0;
}

.about-bio-title-text {
  font-size: large;
}

.about-hero-socials-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 130px;
  min-height: 60px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.social-link-container {
  height: 48px;
  width: 48px;
}

.about-text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  gap: 20px;
  padding: 20px;
}

.about-text-container {
  padding: 20px;
}

.about-text-title {
  margin: 20px 0 10px 0;
}

.about-skills-section {
  display: flex;
}

.about-skills-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 0 20px 20px 20px;
}

.about-skills-cards-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  gap: 20px;
  max-width: 840px;
}

.about-skills-card {
  background-color: rgb(252, 252, 252);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 6px 6px 0 0 #222;
  transition: box-shadow 0.15s;
  width: 164px;
  padding: 14px;
  gap: 4px;
  max-height: 140px;
}

.about-skills-card-icon{
  height: 38px;
  width: 38px;
}

.about-skills-card-title {
  text-transform: uppercase;
  font-weight: bold;
}

.about-skills-card-description {
  font-size: small;
  overflow: hidden;
  max-height: 70px;
  line-height: 0.9;
}

@media (max-width: 720px) {
  .about-hero-container {
    flex-wrap: wrap;
  }
  
  .about-hero-socials-container {
    flex-direction: row;
    justify-content: center;
    padding: 0;
    min-width: 320px;
  }

  .social-link-container {
    margin-left: auto;
    margin-right: auto;
  }
}