.coin-summary {
  cursor: pointer;
  height: 44px;
  gap: 6px;

  display: flex;
  flex-direction: row;
  padding: 0 4px 0 4px;
  align-items: center;
  justify-content: center;
  opacity: 1;
  pointer-events: auto;
}

.coin-summary.highlight {
  animation: borderHighlight 0.6s ease;
}

.coin-summary.hidden {
  opacity: 0;
  pointer-events: none;
}

.summary-icon {
  object-fit: cover;
  align-items: center;
  height: 100%;
  width: 100%;
}

.gold-coin-container {
  display: flex;
  height: 32px;
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.gold-coin-container.spin {
  animation: coinSpin 0.6s ease forwards;
}

.coin-amount {
  flex: 2;
  margin-right: 8px;
  font-size: var(--font-size-body);
  font-family: var(--font-family-accent);
  font-weight: bold;
  color: var(--color-text-dark);
  transition: opacity 0.2s ease;
}

.summary-menu-section {
  background-color: var(--color-primary-darker99);
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.summary-menu-section.hidden {
  pointer-events: none;
  visibility: hidden;
}

.summary-menu-container {
  background-color: var(--color-primary-shade);
  width: 320px;
  border-radius: 40px;
  border: 14px solid var(--color-text);
  box-shadow: inset 0 0 4px 0 var(--color-primary-dark99);
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.summary-menu-top-container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  height: 90px;
}

.summary-coin-total-text.textHighlight {
  color: var(--color-text);
  text-shadow: var(--text-shadow-sm) var(--color-shadow);
}

.summary-title {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-h2);
  font-family: var(--font-family-accent);
  font-weight: bold;
  color: var(--color-accent);
  text-align: center;
  text-underline-offset: 4px;
  text-shadow: var(--text-shadow-sm) var(--color-shadow);
}

.summary-menu-close-btn-container {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex: 1;

  justify-content: end;
  margin-top: 10px;
  margin-right: 10px;
}

.summary-menu-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 3px solid var(--color-text);
  box-shadow: var(--shadow-sm) var(--color-border-shadow);
  font-family: var(--font-family-basic);
  font-weight: bold;
  font-size: var(--font-size-h1);
  color: transparent;
}

.summary-menu-stats-container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  align-items: flex-start;
  background-color: var(--color-primary-darker);
  box-shadow: inset 0 0 8px var(--color-shadow);
}

.summary-menu-stats-coin-1, .summary-menu-stats-coin-2, .summary-menu-stats-coin-3 {
  display: flex;
  position: relative;
  flex-wrap: wrap;

  padding: 14px 0;
  width: 100%;
  gap: 10px 20px;
  align-items: center;
  justify-content: flex-start;
}

.summary-menu-stats-coin-1::after, .summary-menu-stats-coin-2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 1px;
  background: var(--color-primary-shade); 
  transform: translateX(-50%);
  box-shadow: var(--shadow-sm) var(--color-shadow);
}

.summary-menu-coin-collect-container {
  flex: 0 0 60px; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 60px;
  width: 50px;
}

.summary-menu-coin-collect-gray, .summary-menu-coin-collect-gold {
  object-fit: cover;
  position: absolute;
  z-index: 0;
  height: 50px;
}

.summary-menu-coin-collect-gray {
  opacity: 0.5;
}

.summary-menu-coin-collect-gold {
  filter: drop-shadow(0 0 4px var(--color-shadow));
}

.summary-menu-stat-text-container {
  flex: 2;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: var(--font-family-accent);
  gap: 10px;
  min-width: 140px;
  padding-right: 10px;
  color: var(--color-text);
  opacity: 1;
}

.summary-menu-stat-text-container.hidden {
  opacity: 0.3;
}

.summary-menu-stat-title {
  font-size: var(--font-size-body);
}

.summary-menu-stat-title span {
  font-weight: bold;
}

.summary-menu-stat-timer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.summary-menu-stat-timer-container.hidden {
  display: none;
}

.summary-timer-text {
  font-size: var(--font-size-body);
  font-weight: 400;
  color: var(--color-accent);
}

.summary-timer-icon {
  object-fit: cover;
  height: 24px;
  transform: translateY(-1px);
  opacity: 1;
}

.summary-menu-rps-stats-container {
  flex: 2;
  display: flex;
  flex-direction: row;
  gap: 20px;
  
  min-width: 220px;
  opacity: 1;

  box-shadow: inset 0 0 10px 0 var(--color-primary-dark99);
  background-color: var(--color-primary-dark80);
  color: var(--color-text);
  border-radius: 5px;
  padding: 10px 10px;
}

.summary-menu-rps-stats-container.hidden {
  display: none;
}

.summary-rps-stat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2px;

  justify-content: center;
  align-items: center;
}

.summary-rps-stat-title {
  font-size: var(--font-size-small);
  font-family: var(--font-family-body);
  font-weight: 400;

  text-decoration: underline;
  text-underline-offset: 2px;
}

.summary-rps-stat-number {
  font-family: var(--font-family-accent);
  font-size: var(--font-size-h2);
  font-weight: 400;
  color: var(--color-accent);
}

.summary-menu-options-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 14px;
  padding: 0 0 20px 0;
  background-color: var(--color-primary-darker);
  align-items: center;
  justify-content: center;
}

.summary-reset-score-button {
  display: flex;
  gap: 4px;
  width: 80%;
  height: 48px;

  align-items: center;
  justify-content: center;
  
}

.summary-reset-score-button.locked {
  background-color: var(--color-button-locked);
}

.summary-menu-unlock-text {
  display: flex;
  gap: 4px;
  align-items: center;
  font-family: var(--font-family-accent);
  font-size: var(--font-size-small);
  font-weight: 400;
  color: var(--color-text);
}

.summary-menu-unlock-text.hidden {
  display: none;
}

.summary-lock-icon {
  object-fit: cover;
  height: 20px;
  transform: translateY(-1px);
  opacity: 0.9;
}

.summary-lock-icon.hidden {
  display: none;
}

.summary-tabs {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  overflow: hidden;/
}

.summary-you-tab, 
.summary-everyone-tab {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 600;
  font-family: var(--font-family-accent);
  font-size: var(--font-size-medium);
  background-color: var(--color-primary-tabs);
  opacity: 0.5;
  box-shadow: inset var(--shadow-tab) var(--color-shadow);

  transition: opacity 0.25s ease, box-shadow 0.25s ease, color 0.25s ease;
}

.summary-you-tab.selected, 
.summary-everyone-tab.selected {
  opacity: 1;
  box-shadow: none;
  color: var(--color-accent);
  border-bottom: 1px solid var(--color-accent);
}

.tab-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tab-content.hidden {
  display: none;
}

.summary-menu-analytics-container {
  height: 200px;

  background-color: var(--color-primary-darker);
  box-shadow: inset 0 0 8px var(--color-shadow);
}

@media (max-width: 720px) {
  .summary-coin-total-summary {
    flex-direction: column;
  }
}