.fill-bar-section {
  height: 315px;
  background-color: var(--color-primary-shade);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-md) var(--color-shadow);
  gap: 20px;
  padding: 0 40px;
  margin: 60px 0;
}

.fill-bar-container {
  background-color: var(--color-primary-dark);
  height: 58px;
  width: 100%;
  max-width: 680px;
  border-radius: 9999px;
  box-shadow: inset var(--shadow-md) var(--color-shadow);
  display: flex;
  flex-direction: row;
  position: relative;
  border: 2px solid var(--color-primary-dark80);
  overflow: hidden;
  transition: border 0.3s ease;
}

.fill-bar-container.highlight {
  border: 3px solid var(--color-button-gold-active);
}

@keyframes borderHighlight {
  0% {
    border-color: var(--color-primary-dark80);
  }
  50% {
    border: 3px solid var(--color-button-gold-active);
  }
  100% {
    border-color: var(--color-primary-dark80);
  }
}

.fill-bar-fill {
  position: absolute;
  width: 0%;
  height: 100%;
  border-radius: 4px;
  background-color: var(--color-accent);
  transition: width 0.3s linear;
  box-shadow: inset 0 -4px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.fill-bar-fill::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 100%;
  border-radius: inherit;
  background: linear-gradient(to bottom, rgba(255,255,255,0.3), transparent);
  pointer-events: none;
}

.fill-bar-text {
  display: flex;
  padding: 0 0 0 20px;
  align-items: center;
  flex: 1;
  gap: 10px;
  font-size: var(--font-size-medium);
  font-family: var(--font-family-accent);
  color: var(--color-text);
}

.fill-bar-text.show {
  color: var(--color-text-dark);
  z-index: 2;
  font-weight: 500;
  font-size: var(--font-size-body);
  animation: bumpRight 0.3s ease;
}

@keyframes bumpRight {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  90% {
    transform: translateX(-2px);
  }
}

.fill-bar-arrow {
  width: 20px;
}

.fill-bar-coin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  position: relative;
  transition: opacity 0.2s ease;
}

.fill-bar-coin-image, .fill-bar-collected-coin-image {
  flex: 1;
  object-fit: cover;
  position: absolute;
  z-index: 0;
}

.fill-bar-collected-coin-image {
  z-index: 2;
  height: 54px;
  transform: scale(0.5);
}

.fill-bar-collected-coin-image.spin {
  animation: coinSpin 0.5s ease forwards;
}

.fill-bar-button-timer-container {
  position: relative;
}

.fill-bar-timer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  font-family: var(--font-family-accent);
  font-size: var(--font-size-medium);
  color: var(--color-primary-darker);
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: -75%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease;
}

.fill-bar-timer-icon {
  object-fit: cover;
  height: 30px;
  transform: translateY(-2px);
  opacity: 0.75;
}


@media (max-width: 720px) {
  .fill-bar-section {
    margin: 40px 0 60px 0;
  }
}