.fill-bar-section {
  height: 315px;
  background-color: var(--color-primary-shade);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-md) var(--color-shadow);
  gap: 20px;
  padding: 0 40px;
  margin: 60px 0;
}

.fill-bar-container {
  background-color: var(--color-primary-dark);
  height: 58px;
  width: 100%;
  max-width: 680px;
  border-radius: 29px;
  box-shadow: inset var(--shadow-md) var(--color-shadow);
  display: flex;
  flex-direction: row;
}

.fill-bar-text {
  display: flex;
  padding: 0 0 0 20px;
  align-items: center;
  flex: 1;
  gap: 10px;
  font-size: var(--font-size-medium);
  font-family: var(--font-family-accent);
}

.fill-bar-arrow {
  width: 20px;
}

.fill-bar-coin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
}

.fill-bar-coin-image {
  flex: 1;
  object-fit: cover;
}