footer {
  max-width: 1200px;
  min-width: 320px;
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: 80px;
}

.footer-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 20px 20px 10px 20px;
  gap: 10px;
}

.footer-small-font {
  font-size: var(--font-size-xsmall);
  text-align: center;
  line-height: 150%;
}

.footer-line {
  width: 100%;
  max-width: var(--max-width-container);
  border: none;
  border-top: 1px solid var(--color-text);
  margin-bottom: 40px;
  opacity: 0.2;
}