body {
  font-family: "Fira Code", monospace, 'Courier New', Courier, monospace, Roboto, Arial;
  color: rgb(0, 0, 0);
  margin: 0;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  max-width: 1200px;
  min-width: 320px;
  width: 100%;
}

p {
  margin: 0;
}

.link {
  font-weight: bold;
  color: black;
}

.simple-link {
  font-weight: 400;
  color: black;
  box-shadow: 6px 6px 0 0 #222;
  border: #000000;
  border-style: solid;
  border-width: 2px;
  border-radius: 14px;
  padding: 0 20px;
}

.icon {
  width: 100%;
}