.header {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header-nav {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.projects-link, .homepage-link, .about-link {
  font-size: 16px;
  text-transform: uppercase;
  color: inherit;
  text-align: center;
  width: 100px;
}

.projects-link {
  text-align: right;
}

.about-link {
  text-align: left;
}

.projects-link:hover, .homepage-link:hover, .about-link:hover {
  font-weight: bold;
}

.dark-mode-toggle-button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15px;
  top: 15px;
  display: flex;
}

.light-black-icon {
  width: 100%;
  position: absolute;
  opacity: var(--icon-light-black);
}

.light-white-icon {
  width: 100%;
  position: absolute;
  opacity: var(--icon-light-white);
}

.coin-summary {
  background-color: var(--color-primary-shade);
  cursor: pointer;
  position: fixed;
  height: 46px;
  right: 8px;
  top: 8px;
  display: flex;
  flex-direction: row;
  border-radius: 9999px;
  border: 3px solid var(--color-primary);
  padding: 0 4px 0 4px;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

.coin-summary.highlight {
  animation: borderHighlight 0.6s ease;
}

.gold-coin-container {
  display: flex;
  height: 40px;
  justify-content: center;
  flex: 1;
}

.gold-coin-container.spin {
  animation: coinSpin 0.6s ease forwards;
}

.coin-amount {
  flex: 2;
  margin-right: 8px;
  font-size: var(--font-size-body);
  font-family: var(--font-family-accent);
  font-weight: bold;
  color: var(--color-text);
  transition: opacity 0.2s ease;
}

.summary-menu-section {
  background-color: var(--color-primary-dark90);
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: 10;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  transition: opacity 0.3s ease;
}

.summary-menu-section.hidden {
  display: none;
}

.summary-menu-container {
  background-color: var(--color-primary-shade);
  min-width: 300px;
  max-width: 600px;
  width: 100%;
  border-radius: 20px;
  border: 3px solid var(--color-text);

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
}

.summary-menu-top-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  
  justify-content: end;

  height: 60px;
  margin-right: 16px;
  margin-top: 8px;
}

.summary-menu-close-btn {
  cursor: pointer;

  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 3px solid var(--color-text);
  box-shadow: var(--shadow-sm) var(--color-button-base-shadow);
}

.summary-menu-stats-container {
  background-color: var(--color-primary-darker);

  height: 300px;
  width: 100%;
}

.summary-menu-options-container {
  height: 100px;
  width: 100%;
}