.header {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header-nav {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex: 1;
}

.projects-link, .homepage-link, .about-link {
  font-size: 16px;
  text-transform: uppercase;
  color: inherit;
  text-align: center;
  width: 100px;
}

.projects-link:hover, .homepage-link:hover, .about-link:hover {
  font-weight: bold;
}

.dark-mode-toggle-button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15px;
  top: 15px;
  display: flex;
}

.light-black-icon {
  width: 100%;
  position: absolute;
  opacity: 0.9
}

.light-white-icon {
  width: 100%;
  position: absolute;
  opacity: 0;
}

.version {
  position: absolute;
  right: 15px;
  top: 55px;
  display: flex;
  font-size: x-small;
}