.header {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header-nav {
  max-width: 1200px;
  min-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex: 1;
}

.projects-link, .homepage-link, .about-link {
  font-size: 16px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.projects-link:hover, .homepage-link:hover, .about-link:hover {
  font-weight: bold;
}