.intro-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 60px 0;
  max-width: var(--max-width-container);
}

.intro-left-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  flex: 1;
  padding: 20px 20px 0 20px;
  max-width: 420px;
}

.intro-title, .intro-description, .intro-cta {
  text-align: right;
  width: 80%;
}

.intro-title {
  font-size: var(--font-size-h1);
  margin: 0;
  line-height: 52px;
}

.auto-text-container {
  display: flex;
  justify-content: end;
  margin-right: -4px;
}

.auto-text-container-simple {
  display: flex;
  justify-content: center;
  margin-right: -4px;
}

.auto-text, .auto-text-simple {
  margin-right: -2px;
}

.vertical-bar-blink, .vertical-bar-blink-simple {
  margin: 0 -2px;
}

.intro-description {
  padding: 10px 0;
  max-width: 280px;
  line-height: 26px;
}

.intro-cta {
  font-style: italic;
}

.intro-right-container {
  flex: 1;
  display: flex;
  justify-content: left;
  padding: 0 20px 0 20px;
  align-items: center;
  max-width: 420px;
}

.intro-image {
  width: 80%;
  cursor: pointer;
}

.intro-image.spin {
  animation: coinSpin 0.5s ease forwards;
}

@keyframes coinSpin {
  50% {
    scale: 1.08;
    transform: translateY(-20px) rotateX(10deg) rotateY(180deg) rotateZ(-10deg);
  }
  to {
    transform: translateY(0) rotateX(0) rotateY(360deg) rotateZ(0);
    scale: 1;
  }
}

.about-focus-section {
  display: flex;
  justify-content: center;
}

.about-focus-list-container {
  display: flex;
  margin: 60px 20px;
  gap: 60px;
  justify-content: center;
  flex-wrap: wrap;
}

.about-focus-container {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.about-focus-title {
  font-size: var(--font-size-body);
  margin: 0;
  line-height: 30px;
}

.about-focus-description {
  text-align: center;
  line-height: 24px;
}

.about-me-section {
  display: flex;
  justify-content: center;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  margin: 60px 20px 100px 20px;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.about-me-head-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-me-head {
  height: 120px;
  display: block;
}

.about-me-chat-bubble-container {
  display: flex;
  flex-direction: row;
}

.about-me-chat-bubble-prism {
  position: relative;
  z-index: 1;
  margin-right: -8px;
}

.about-me-chat-bubble {
  position: relative;
  z-index: 2;
  background-color: var(--color-text);
  border-radius: 22px;
  box-shadow: var(--shadow-md) var(--color-button-text-shadow);
  font-size: var(--font-size-small);
  font-family: var(--font-family-accent);
  font-weight: bold;
  color: var(--color-background);
  padding: 14px 20px;
  max-width: 80px;
}

.about-me-description {
  width: 220px;
  line-height: 26px;
}

.about-me-cta-button {
  height: 40px;
  width: 100%;
}

.about-projects-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-projects-container {
  display: flex;
  flex-direction: column;
  justify-content: baseline;

  max-width: var(--max-width-container);

  flex: 1;
  margin: 60px 0 40px 0;
  padding: 0 20px;
}

.about-projects-title, .about-projects-description {
  text-align: left;
  max-width: 600px;
}

.about-projects-title {
  font-size: var(--font-size-h1);
  margin: 0;
}

.about-projects-description {
  width: 300px;
  padding: 10px 0;
  line-height: 26px;
}

.projects-section {
  display: flex;
  justify-content: center;
}

.projects-container {
  display: flex;
  flex-direction: column ;
  justify-content: baseline;
  align-items: center;
  flex: 1;
  margin: 40px 0 80px 0;
  padding: 0 20px;
  gap: 80px;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  max-width: 360px;
}

.project-container-top {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.project-image-container {
  width: 100%;
  width: 140px;
}

.project-image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
  box-shadow: var(--shadow-md) var(--color-shadow);
  border-radius: 20%;
}

.project-summary-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 200px;
  height: 100%;
  justify-content: space-between;
}

.project-title-text {
  font-size: var(--font-size-h2);
  position: relative;
  display: inline-block;
  margin: 0 0 -4px 0;
  line-height: 120%;
}

.project-summary-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  width: 80%;
}

.stack-tag {
  padding: 2px 14px;
  border: 1px solid var(--color-button);
  border-radius: 9999px;
  font-size: var(--font-size-xsmall);
  font-family: var(--font-family-basic);
}

.project-cta {
  height: 30px;
  width: 80%;
  margin-bottom: 4px;
}

.project-description-text {
  margin: 0;
  line-height: 26px;
  width: 80%;
}

.cta-section {
  display: flex;
  justify-content: center;
}

.cta-container {
  display: flex;
  flex-direction: column;
  margin: 80px 20px;
  gap: 20px;
  width: 220px;
}

.cta-message {
  line-height: 26px;
}

.cta-link {
  font-family: var(--font-family-accent);
  color: #FAC036;
  line-height: 26px;
}

@media (max-width: 720px) {
  .intro-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .intro-left-container {
    align-items: center; 
  }

  .intro-title, .intro-description, .intro-cta {
    text-align: center;
  }

  .intro-right-container {
    justify-content: center;
    min-height: 0;
    padding: 0 20px;
  }

  .auto-text-container {
    justify-content: center;
    margin-left: 8px;
  }

  .about-list-container {
    flex-direction: column;
    gap: 80px;
  }
}