.mobile-nav {
  display: none;
}

@media (max-width: 720px) and (hover: none) and (pointer: coarse) {
  .mobile-nav {
    position: fixed;
    height: 90px;
    background-color: var(--color-button);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    pointer-events: none;
  }

  .mobile-nav-container {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    pointer-events: auto;
    box-shadow: var(--shadow-mobile-nav) var(--color-mobile-nav-shadow);
  }

  .mobile-nav-button {
    width: 100%;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
  }

  .mobile-nav-icon-container {
    height: 30px;
  }

  .mobile-nav-icon {
    object-fit: cover;
    height: 100%;
  }

  .mobile-nav-home-text{
    color: var(--color-text-dark);
    font-size: var(--font-size-body);
    font-family: var(--font-family-accent);
  }

  .mobile-nav-home-text.inactive{
    color: var(--color-text-inactive);
  }

  .desktop-nav {
    display: none;
  }

  .header-menu-container {
    gap: 0;
  }

  .return-to-top-container {
    bottom: 104px;
    right: 8px;
    z-index: 99;
  }

  footer {
    padding-bottom: 100px;
  }
}